{% extends 'base.html.twig' %}

{% block title %}User Send File {% endblock %}

{% block body %}
    <h2>Author name and file.</h2>

    <h4>Add your own feedback</h4>

    {{ form(send_file_form) }}
{% endblock %}
